<h1>相簿</h1>

<%= link_to '新增相簿', new_album_path, class: 'action-btn' %>

<ul class="mt-4 grid grid-cols-4 gap-4">
<% @albums.each do |album| %>
  <li class="col-span-1">
    <div class="border border-slate-400">
      <picture>
        <%= link_to album do %>
          <img src="https://fakeimg.pl/300x200/?text=<%= (1..10).to_a.sample %>">
        <% end %>
      </picture>

      <footer class="px-2 py-1 flex justify-between font-semibold">
        <span><%= link_to album.name, album %></span>
        <% if album.password.present? %>
          <span>X</span>
        <% end %>
      </footer>
    </div>
  </li>
<% end %>
</ul>
