@tailwind base;
@tailwind components;
@tailwind utilities;

.action-btn {
  @apply select-none hover:bg-rose-500 rounded-full inline-block text-white px-4 py-1 bg-rose-700;
}
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
